.main.ng-scope {
    width: 80%;
}

/******************* fishes *************************/
.fishes {
//    width: 90%;
    margin: 0 auto;
    padding: 20px;
    @include flex(4 90%);
    justify-content: center;
    align-items: center;
    resize: both;
    min-width: 290px;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 30px;
//    background: $aqua;
//    opacity: .65;
    z-index: 10;
}

.fishes ul {
    margin: 0;
    padding: 0;
}
.fishes li {
    width: 50%;
    display: inline-block;
    flex: 3;
//    background: green;
    margin: 0;
//    padding: 10px 10px 0 10px;
    opacity: 0.5;
    @include all-transitions(0.3s);
}
.fishes a {
    display: block;
    text-decoration: none;
}
.fishes li:hover {
    opacity: 1;
    @include transform(scale(1.8));
    z-index: 999;
}
.fishes li img {
    display: block;
    float: left;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
}
.fishes li info {
    display: block;
    float: left;
    padding-left: 120px !important;
}
.fishes li:last-child { 
    border-bottom: none;
}
.details {
    font-size: 1.1em;
    line-height: 160%;
    color: #0F4150;
    width: 90%;
    min-width: 320px;
    max-width: 620px;
    margin: 0 auto;
//    margin-top: 30px;
    margin-bottom: 30px;
//    padding: 20px 30px;
    z-index: 20;
}
.details header {
    background: url(../img/logo.svg) no-repeat;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.details header h1 {
    display: none;
}
.details img {
    width: 40%;
    max-width: 130px;
    float: left;
}
.fish.ng-enter.ng-enter-active,
.fish.ng-leave {
    opacity: 1;
    height: 80px;
//    overflow: hidden;
}
.fish.ng-leave.ng-leave-active,
.fish.ng-enter {
    opacity: 0;
    height: 0;
//    overflow: hidden;
}
.fish {
    padding: 10px;
}


/******************* Search Styles ****************/
.search {
    width: 90%;
    @include flex(4 90%);
    margin: 0 auto;
//    margin-top: 30px;
//    padding: 20px 30px;
    text-align: center;
    z-index: 99999;
    color: white;
//    background: url('../img/logo.png') no-repeat fixed center;
//    background: url('../img/logo.svg') no-repeat fixed center;
}
input {
    color: $aqua;
}
.search img {
    max-width: 40%;
}
.search input {
    width: 100%;
    padding: 10px 0 10px 15px;
    font-size: 1rem;
    background: none;
    outline: 0;
    border: none;
    background: none;
    text-align: center;
}
.search .formgroup input {
    display: inline;
    text-align: center;
    width: auto;
}
.search label.formgroup {
    display: inline;
    width: auto;
    text-align: center;
}
.search select {
    display: inline;
    padding: 10px 0 10px 15px;
    font-size: 1rem;
    outline: 0;
}


/* *************** Articles */

.info p {
    text-align: justify;
    padding: 0;
    margin: 0;
}
.info img {
    max-width: 100%;
    padding: 0 1rem 1rem 0;
}
