@font-face {
    font-family: 'unskinnybopmedium';
    src: url("fontfiles/unskinnybop-webfont.eot");
    src: url("fontfiles/unskinnybop-webfont.eot?#iefix") format("embedded-opentype"), url("fontfiles/unskinnybop-webfont.woff") format("woff"), url("fontfiles/unskinnybop-webfont.ttf") format("truetype"), url("fontfiles/unskinnybop-webfont.svg#unskinnybopmedium") format("svg");
    font-weight: normal;
    font-style: normal;
}